.grand{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 215, 207);
}
.userBox{
    width: 70vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 146, 209);
 margin: 20px auto;

}

.enterBtn {
height: 30px;
padding: 10px;
border: none;
border-radius: 5px;cursor: pointer;
}
.enterBtn:hover {
    background-color: rgb(231, 118, 118);
}
#textField{
    height: 30px;
    width: 70%;
    border: none;
border-bottom: solid 1px gray;
background-color: rgb(223, 223, 238);

}