.game {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameBox{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.card {
    cursor: pointer;
}
img {
    cursor: pointer;
    width: 250 px;
    height: 400 px;
    border-radius: 8px;
    object-fit: cover;
}
.showImg {

  
        cursor: pointer;
        width: 250 px;
        height: 400 px;
        border-radius: 8px;    
        object-fit: cover;


}
.hideImg {
    cursor: pointer;
    width: 250 px;
    height: 400 px;
    border-radius: 8px;
    object-fit: cover;
 
}