.grand {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 215, 207);
}
.gameBox{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.imgGame {
 
    width: 300px;
    height: 400px;

}