.desc {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2b003e;
  position: absolute;
  /* background-image: url(https://i.pinimg.com/originals/a9/6e/30/a96e30788d743dee8b7c8b0b55832b80.gif); */
  /* background-size: contain; */
}
.boxInfo {
  width: 70%;
  height: 90%;
  background-color: #0000006e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.avatar {
  font-size: 3rem;
  color: white;
}

.start-bttn {
  width: 50px;
  height: 50px;
  /* padding: 10px; */
  background-color: #ff217c;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  /* text-align: center; */
}
#disc {
  font-size: 1.2rem;
  color: white;
}
.userName {
  color: #ff217c;
  font-size: 3rem;
}
h3 {
  color: rgb(182, 163, 163);
  font-size: 1.3rem;
}
h2 {
  font-size: 2.5rem;
  color: blanchedalmond;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#textField {
  height: 40px;
  width: 35vw;
  font-size: 1.2rem;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  border-bottom: solid 1px gray;
  background-color: rgb(223, 223, 238);
}
@media screen and (max-width: 992px) {
  .boxInfo {
    width: auto;
    height: auto;
  }
  #textField {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .boxInfo {
    width: auto;
    height: auto;
  }
  #textField {
    width: 60vw;
  }
}
