.desc {
    width: 60rem;
    height: 30rem;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    font-size: 3rem;
}

.start-bttn {
   cursor: pointer;
   font-size: 3rem;
}

