h1,
h2,
h3,
p {
  color: rgb(207 225 158);
}
.result {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: url("https://i.pinimg.com/originals/6c/93/de/6c93de2ae7118c79c79b750462814002.gif");
  /* background-size: 90% 80%; */
  background-repeat: no-repeat;
  /* background-position: bottom; */
  background-position-y: 100px;
  background-color: #2b003e;
}
.resultBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* background: url(./scoreBg.gif) 0 0; */
}
.scoreBox {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 40%;
  height: 50%;
  border-radius: 10 px;
  padding: 20 px;
  background-color: rgb(54 14 63 / 43%);
  padding: 20px;
}

.up {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
  top: 0;
}
.down {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 0;
}

#restartBtn {
  width: auto;
  padding: 10px;
  background-color: #ff217c;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  margin-top: 20px;
}

#restartBtn:hover {
  background-color: rgb(231, 118, 118);
}
#score {
  font-size: 5rem;
  text-align: center;
}
.word {
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: #fed884;
}
p {
  color: #ff217c;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .scoreBox {
    position: absolute;
    /* right: 5%; */
    top: 25%;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(54 14 63 / 43%);
    padding: 20px;
  }
}
