.video {
  width: 100%;
  height: 100 vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  /* align-items: center; */
  background-color: black;

  /* align-items: center; */
}
.closeBtn {
  margin: 20px;
  width: 50px;
  padding: 5px;
  background-color: #ff217c;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .video {
    width: 100%;
    height: 100%;
  }
}
