.levels {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url("./Skills for Life_ Motion Graphics & Design by Place Studio | Inspiration Grid.jpg");
background-repeat:repeat-x;
  background-position: center;
  background-size: contain;
  background-color: coral;
  
}
.levelsbox{
  position: absolute;
  right: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  border-radius: 10 px;
  padding: 20 px;
  background-color: rgb(70 0 90 / 71%);

}
.levels h1 {
  color: #ff217c;
  padding-top: 2rem;
}
.selectBtn{

}

.level-bttn {
  height: 3rem;
  width: auto;
  padding: 10px;
  border: none;
  margin: 1rem;
  padding: auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: #0cffe1;
  margin-top: 9rem;
}
.level-bttn:hover {
  background-color: darkmagenta;
  color: #fff;
}

